[2019-06-27 05:57] brendan09 commented on #345
Are you using Xcode 11?

[2019-06-27 08:07] grifas commented on #162
@APavanKumar  @ip19 Any solution for this issue ?

[2019-06-27 09:41] ip19 commented on #162
Hi @grifas I have resolved it using "tap on coordinate"

    func tapOnElementUnderPulley (_ XCUIElelment: XCUIElement, xCoordinate: Double, yCoordinate: Double) {
        XCUIElelment.coordinate(withNormalizedOffset: CGVector.zero)
            .withOffset(CGVector(dx:xCoordinate,dy:yCoordinate)).tap()
    }

where XCUIElement is your element which you have to tap. I tried 10;10 coordinates, pleas

[2019-06-27 12:12] jtayler opened #346 "SwiftUI?"
Have folks considered the SwiftUI version of this concept?

[2019-06-27 17:50] techskyey commented on #345
@brendan09 No, I am using Xcode 10.2(10E125)

[2019-06-29 05:48] AnkurLahiry commented on #344
Would you please specify from where I can set this height. Sorry,  I am working on this for the first time and it is difficult for me to detect. Thanks.

[2019-06-29 19:04] brendan09 commented on #344
There are delegate methods for you to implement. Please see the sample project + README for details and examples.

[2019-07-01 07:54] grifas commented on #162
@ip19 yeah I founded this solution too but maybe coordinates are not the same on others devices ?

[2019-07-19 19:36] MichaelJBerk opened #348 "supportedDrawerPositions not working"
I have a project that's based on the demo. However, when I try to set the supportedDrawerPositions like this:
[code]
it doesn't do anything. I've also tried running `setNeedsSupportedDrawerPositionsUpdate` on `ViewWillAppear`, but it still doesn't change anything.
All the above code is in the `drawerViewController`. I have also tried taking the demo and just setting `supportedDrawerPositions`, and

[2019-07-19 19:37] brendan09 commented on #348
Is your delegate method being called if you set a breakpoint? If it’s not, it’s possible that a different VC is actually taking the role of this delegate.

This occurs if you’re using a parent view controller such as a navigation controller, tabbar controller, etc. In those cases, the parent VC is the delegate.

[2019-07-19 19:45] MichaelJBerk commented on #348
It's not triggering the breakpoint. The drawer does have a navigation controller in it, so that might be what's causing the issue

[2019-07-19 19:46] brendan09 commented on #348
That’s the issue. In that case, the navigation controller is the delegate. You’ll need to subclass it and implement methods there.

[2019-07-19 20:09] MichaelJBerk commented on #348
Thank you!

[2019-07-20 10:08] cyvaluer commented on #346
It would be a great idea! Especially if they also consider including a Mac version!!!

[2019-07-20 17:57] brendan09 commented on #346
SwiftUI is interoperable with Pulley, so I don’t see a big benefit to be gained here.

SwiftUI is primarily about data binding, which Pulley doesn’t need. Infrastructure components are less suited to SwiftUI than things like lists, stacks, and scrollable screens.

[2019-07-22 23:16] bienciel opened #350 "passing DATA"

[2019-07-22 23:17] bienciel opened #351 "Passing"

[2019-07-22 23:45] #351 closed

[2019-07-22 23:49] bienciel commented on #350
I’m trying to make an app that can show the list of annotations

Is there any example codes for passing DATA between primary and drawer?

I appreciate your works.
Thank you.

[2019-07-29 21:18] brurend commented on #350
The easiest way would be with NotificationCenter

[2019-07-30 12:27] viktas opened #352 "drawerPositionDidChange"
Hey, I have implemented PulleyDrawerViewControllerDelegate, imported Pulley in the DrawerContentViewController, but the method drawerPositionDidChange doesn't trigger, tryed to debug it as well.
Do I need to set the delegate for the pulley somewhere or what might be the problem?

Code snippet:

class DrawerContentViewController: UIViewController, PulleyDrawerViewControllerDelegate, UIScrollViewDel

[2019-07-30 13:14] #352 closed

[2019-07-31 13:41] viktas opened #353 "Dependencies in Primary"
Hey, so I'm pushing the PulleyViewController, everything is working, but I also need to inject dependencies to the PrimaryContentViewController, from the current class, where I push the PulleyViewController. How can I do that?

            let vc:PulleyViewController? = UIStoryboard.init(name:"myName", bundle: Bundle(identifier: "myBundle"
            )).instantiateViewController(withIdentifier: "

[2019-07-31 16:20] mkiuser commented on #346
Is it in general possible to use pulley with SwiftUI?

[2019-07-31 17:11] jtayler commented on #346
Another comment is correct to say that it basically sin’t much of a good candidate for being written in SwiftUI since you could use Combine and SwiftUI to list and report data while still using the UIKit part of Pulley

I would still like to see a more comprehensive and modern demo for Pulley, and that could be an example using SwiftUI

A demonstration like Stocks or Places search or something tha

[2019-08-01 07:28] viktas commented on #353
What I'm asking is that I have a repository instance in the class, that this is code is in, and I need to pass that instance to my PrimaryContentViewController.

[2019-08-01 07:31] brendan09 commented on #353
There is a property on PulleyViewController that is the current primary content view controller. There’s also one for the drawer.

You can cast that to your class type and access it as normal.

You do need to make sure the view has been loaded before accessing it, so if it’s before your presentation you’ll need to call loadViewIfNeeded on Pulley.

[2019-08-01 07:53] viktas commented on #353
So I can just do that?

            vc = UIStoryboard.init(name:"myName", bundle: Bundle(identifier: "myBundle"
            )).instantiateViewController(withIdentifier: "PulleyViewController")
                as?PulleyViewController
            let primary = vc?.primaryContentViewController as! MyPrimaryViewController
            primary.injectDependencies(repository: repository)
            navig

[2019-08-01 07:56] viktas commented on #353
Yeah, I need to call loadViewIfNeeded, it worked. Thanks!

[2019-08-13 00:57] thebrandontyler opened #354 "change collapsed drawer height while visible"
Hey there.  I've looked through the issues/readme, etc and can't seem to find an answer to this question.  Is there a way to have the pulley view controller visible and dynamically change the height of the collapsed position?  I have a UIView (container) above a tableview in the drawer and this container can have multiple/different views in it depending on what the user is doing.  I'd like to be a

[2019-08-13 00:59] brendan09 commented on #354
Yes, call there’s a function you can call to tell Pulley that you’ve updated the drawer positions. This will re-query the positions and update the UI.

[2019-08-13 21:25] thebrandontyler commented on #354
![Image from iOS](https://user-images.githubusercontent.com/5687291/62978382-01a8c700-bdd6-11e9-82de-3f77bde4226b.jpg)

Here's the issue I'm running into when I update collapsedDrawerHeight(bottomSafeArea: CGFloat).  I'm also using drawerPositionDidChange delegate method, but I am having issues getting the drawer to slide up (although this transparent view in the image is showing).  Thanks for the

[2019-08-13 21:52] thebrandontyler commented on #354
I think I resolved this problem just now.  I'm calling setNeedsSupportedDrawerPositionsUpdate which forces the drawer to update the UI (this is probably the function you were talking about).  Thanks again!

[2019-08-13 21:52] #354 closed

[2019-08-16 12:21] nk017 opened #355 "Dynamic Height Issue for UITableView Cells (Swift) in Drawer-view controller"
In drawer view controller inside add table view inside that table view registered cell automatic not increase height.
If i have register That cell register in primary controller it's working fine.

[2019-08-16 12:32] #355 closed

[2019-08-27 09:12] viktas opened #356 "TopLayoutGuide"

[2019-08-27 09:24] #356 closed

[2019-08-27 10:00] viktas opened #357 "TopLayoutGuide"
Hey, so the pulley itself is great, but I have a little issue, I am transforming the primary view by 180 degrees, the drawer as well, everything works well. But when I want to constraint my elements in the primary view, the top and bottom layout guides don't work and I can't use safe area below IOS 11. So when I constraint my element to the top with 0 constant it is on top of the notification bar,

[2019-08-27 10:15] #353 closed

[2019-08-30 14:17] grifas commented on #162
I think I found the solution. I set to false the `isAccessibilityElement` property of the contentViewController's view.

And in my test I recorded the tap action on the button to find it.

[2019-09-13 11:02] natalia-osa commented on #345
Quickfix: just enter any digit in Info.plist file in value of "Bundle version" key. Keep in mind there are 2 info.plists.

[2019-09-13 15:24] RamblinWreck77 opened #358 "Xcode 11/SPM: Pulley has no Package.swift manifest"
Pretty much the title. We're attempting to move from Cocoapods > SPM with Xcode 11 GM, would it be possible to add a Package.swift file so SPM can download Pulley?

Thanks for a great tool!

[2019-09-14 08:30] DavinHrdy opened #359 "How to push to PulleyViewController from other View Controllers when my main View Controller is in the Primary Content Container View"
<img width="605" alt="Screen Shot 2019-09-14 at 3 10 16 PM" src="https://user-images.githubusercontent.com/16251308/64905417-48a21900-d702-11e9-8267-972d0d1f1d98.png">

Hi, I'm relatively new with iOS programming. I need help trying to push to the storyboard containing the PulleyViewController from another View Controller. (preferably newbie level of explanation)

Usually the first initial storybo

[2019-09-15 10:11] fuad-adetoro opened #360 "Only pulling from bottom to top and top to bottom"
I want the secondary view controller to be pulled from the bottom to the top and from the top to the bottom only, in the current set-up it stops at around quarter of the screen height. How can I go about doing this?

[2019-09-15 10:15] fuad-adetoro commented on #360
Closing this issue, just found out about the supportedDrawerPositions method. Thanks!

[2019-09-15 10:15] #360 closed

[2019-09-15 19:27] brendan09 commented on #359
You’re close. You don’t want to use the PulleyViewController class name as the identifier, however.

When you select PulleyViewController you can see in Interface Builder’s right-side column/menu that there’s a field named “identifier”. (I think it’s the left most tab, but I can’t remember off the top of my head). You need to give it an identifier to uniquely identify that view controller. You can

[2019-09-16 02:52] DavinHrdy commented on #359
Gah, dumb me x).

Thanks for the help, just input the storyboardID and everything just clicks into place. Really great library, so many details that I didn’t think about when I tried making the drawer manually.

[2019-09-16 02:52] #359 closed

[2019-09-16 07:35] ulmentflam commented on #358
Hey @RamblinWreck77, If you check out the Xcode 11 branch we have the Package.swift file coming down the pipeline. Now that we are on the Xcode 11 GM, I will be looking into getting a release out for the SPM with the next version of Pulley.

[2019-09-23 07:42] az-oolloow opened #361 "iPad panel mode - the map area is not touchable when adding Pulley programmatically"
I tried adding Pulley with Carthage, and while it sort of works, i can't tap the map that i drew behind the drawer.

e.g.

[code]

[2019-09-24 00:35] emajewicz opened #362 "Error when updating to Xcode 11"
Getting this error when updating

 Assertion failure in UITraitCollection * _Nonnull _UIGetCurrentFallbackTraitCollection(void)(), /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKitCore/UIKit-3899.13.13/_UIFallbackEnvironment.m:91

[2019-09-24 16:25] emajewicz commented on #362
Nevermind this issue was coming from a different library

[2019-09-24 16:25] #362 closed

[2019-10-03 06:42] fuad-adetoro opened #364 "Problem when UINavigationController is primary controller"
Hey guys, I have an issue I can't seem to rectify. I have a UITabBarController with 4 tabs, one of those tabs is a PulleyViewController. The primary controller is a UINavigationController, when I click on the tab everything is in order, but when I go to another tab and then return the primary controller goes blank / shows a white view.

I managed to fix it by making the primary controller the top

[2019-10-15 23:06] hipwelljo opened #365 "PulleyPassthroughScrollView's contentView is getting a width and height of 0 initially, breaking constraints"
I'm debugging broken auto layout constraints. The problem is this
`<NSAutoresizingMaskLayoutConstraint:0x6000034d4af0 h=--& v=--& UIView:0x7fb991c40060.width == 0   (active)>`
and this
`<NSAutoresizingMaskLayoutConstraint:0x6000034d4b90 h=--& v=--& UIView:0x7fb991c40060.height == 0   (active)>`

Checking out the view debugger 0x7fb991c40060 is the UIView inside PulleyPassthroughScrollView, which i

[2019-10-15 23:12] brendan09 commented on #365
Set your constraint to have a priority of less than one thousand to stop the console warning.

Pulley inits with zero frame and remains that way until UIKit or you give it a frame.

[2019-10-15 23:17] hipwelljo commented on #365
Okay, which constraints need the lower priority?

[2019-10-15 23:37] brendan09 commented on #365
The constraints of yours that are breaking.

[2019-10-16 02:58] hipwelljo commented on #365
Thanks! For any future viewers, I had to lower the priority of constraints to 999 for a couple subviews of my own scroll view's content view - one leading constraint and one top constraint.

[2019-10-16 02:58] #365 closed

[2019-11-07 11:25] Jemarlwecorp commented on #323
how did you do the above. Kind of lost, trying to achieve the exact same thing.

[2019-11-10 21:48] seboslaw opened #367 "UITableView in drawer not updating labels for Dynamic Type changes"
Hey guys,

I'm having problems with dynamic type in combination with Pulley. I've put a simple (auto-layouted) UITableView into my drawer VC. When I change the font size in Settings -> Accessibility -> Display & Text Size -> Larger Text before starting the app everything works fine.
However, if the app is already running and I change the font size it doesn't update the UILabels in my table view ac

[2019-11-12 17:10] #358 closed

[2019-11-14 13:27] bstillitano opened #369 "Pulling not working when building for Catalyst"
Using IB, it would appear that the pull gesture does not work with OSX Catalyst. The functionality works perfectly on iOS and iPadOS Builds however.

Screenshot:
![image](https://user-images.githubusercontent.com/40552246/68860975-b4beee80-073e-11ea-9794-9d649ed71df8.png)

[2019-12-10 17:26] ulmentflam commented on #364
How did you initialize your PulleyViewController? Did you use interface builder or initialize it in code? Is it possible that when you segue to the view the embedded references to the subviews are being deallocated and when you return to the view they are not being reallocated? If you could post a code snippet it would  be helpful in helping you debug.

[2020-01-04 16:40] YujxZJCN opened #371 "More Elements in PulleyViewController"
How to add my own elements like a button in PulleyViewController? I created it in my storyboard but didn't show when App runs.

[2020-01-04 16:41] brendan09 commented on #371
You can’t add elements to PulleyViewController itself. You need to add them to your primary or drawer view controller.

Please see the example project for how to use Pulley with a storyboard.

[2020-01-04 17:08] YujxZJCN commented on #371
OK, Thanks. One more question, can I change the height of the drawer in .partiallyRevealed and .collapsed mode or add some blank area below the drawer to solve the problem in the image?

<img width="337" alt="image" src="https://user-images.githubusercontent.com/46392855/71769105-80ee9100-2f57-11ea-9a64-9c1dc6229db8.png">

[2020-01-04 17:19] YujxZJCN commented on #371
Aha. I have solved it by changing the safeAreaBottomInset which seems not so wise but it does work! Anyway, thanks a lot!

<img width="349" alt="image" src="https://user-images.githubusercontent.com/46392855/71769237-569dd300-2f59-11ea-82dd-c98aa48c2298.png">

[2020-01-04 17:20] brendan09 commented on #371
There are delegate methods you can use to control this. Please see the sample project for how the heights are returned.

[2020-01-04 17:28] YujxZJCN commented on #371
Wow it is much wiser! Thanks!

[2020-01-09 15:31] alexandrubeck commented on #217
Hi @sadanro100, did you find a solution for it?

[2020-01-09 21:55] sadanro100 commented on #217
@objc func keyboardWillShow(notification: Notification) {

        self.setTopInsetForKeyboard(notification: notification)
        self.pulleyViewController?.setDrawerPosition(position: .open, animated: true)
    }

     func setTopInsetForKeyboard(notification: Notification) {

        guard let primaryVc = self.getPrimaryVc() else { return }

        var topInset = primaryVc.view.frame.size.heig

[2020-01-10 07:35] alexandrubeck commented on #217
Hi @sadanro100, thank you for your solution.
But seems my Pulley version isn't compatible with your, because I'm getting some errors:

![image](https://user-images.githubusercontent.com/53875891/72134347-7df70480-338c-11ea-9254-721cf9380614.png)

Can you please send me extensions for those errors which are highlighted here?

[2020-01-14 01:31] sadanro100 commented on #217
I could share my entire project with you and perhaps it still wouldn't solve your problem.

I only pasted my code to illustrate how I managed to get around this issue.

Long story short, you have to calculate how far you want the drawer view controller to be from the top, set the topInset, then call serDrawerPosition to animate the change.

Good luck

[2020-01-20 10:59] moiz212 commented on #259
It is very simple you just need to right Click on Pully VC and check for outlets ,you must missing it ,if yes then control drag the oultets for primary and drawer to your container UIView

[2020-01-23 20:52] jacobwhite opened #374 "Issue with drawer not moving up when content is too tall"
I have a tableview inside the drawer, and when that table view has enough rows that its larger than the screen the drawer won't pull up. Instead what happens is that the drawer content will scroll within the drawer.

[2020-01-23 21:17] brendan09 commented on #374
The sample project does this, and works properly. Please look for differences between your project and the sample project.

[2020-01-23 21:46] jacobwhite commented on #374
I don't think they could be more different lol, I'm using obj-c and not storyboards.

[2020-01-23 22:17] brendan09 commented on #374
Anything in a storyboard can be done in code. I would compare the setup and see what’s different.

[2020-01-24 01:26] jacobwhite commented on #374
Could it be because the view I’ve put in the drawer is a table view and I need a fixed view above the table view that doesn’t scroll?

[2020-01-24 02:39] brendan09 commented on #374
That’s probably why. I really don’t recommend putting Pulley inside of a table view. That’s a very odd UI pattern, aside from usability issues of scrolling inside of something scrollable.

[2020-01-24 04:53] jacobwhite commented on #374
Pully isn't inside a tableview, its a tableview inside the drawer.

[2020-01-24 04:55] brendan09 commented on #374
Sorry, I misread your last comment.

The sample project has a table view in the drawer and it works fine. Most people’s uses have tableviews in the drawer and it works fine for them. Storyboard doesn’t matter.

Make sure you’re not doing things with gesture recognizer delegates, etc. or you could be breaking UIKits automatic handling of it.

[2020-01-24 05:27] jacobwhite commented on #374
No worries, I appreciate your responses. So I just changed my drawer to have instead of just a tableview, a view with a static view at the top, and a tableview below it. And now the tableview doesn't scroll! LOL.

Thanks for the feedback, I'll try to go back to the demo project and try to make sense of what it does and what I'm doing wrong.

Thanks again!

[2020-01-24 05:38] jacobwhite commented on #374
I got it, my scroll view was too big and not scrolling. Not sure if I fixed it the right way, but it seems to be working for me now.

[2020-01-24 11:51] jackjpark opened #375 "Crashing due to loop of broken constraints when changing drawer content VC?"
I was using a much older version of the drawer but needed the support for the iPhone X and above, im having an issue where now when i change the content VC of the drawer, the second VC set causes a never ending loop of layout constraint breaking which will crash the app

It worked fine in the older version of the drawer and my initial drawer VC works fine, its just when its changed

Is there a way

[2020-03-11 15:15] jackjpark opened #376 "Drawer height not adjusting to stackview holding content correctly"
I am using a stackview inside the pulley drawer, i fill this stackview with various views.

Generally this is fine, but there are occasions when i return to the drawer screen and the pulley sets its height incorrectly, this is in the `func partialRevealDrawerHeight(bottomSafeArea: CGFloat) -> CGFloat` function, where i return `return contentStackView.frame.height`

I call `self.view.layoutIfNeeded

[2020-03-11 15:19] brendan09 commented on #376
There is a function you can call when that frame changes to notify Pulley to re-query the value and perform a layout. I can’t remember naming off the top of my head, but it’s something like “set needs drawer position update” or something. Calling that will have Pulley correctly do an update for that value and relayout things. I’m not sure you could do it in viewDidLayoutSubviews, though. But I thi

[2020-03-11 15:24] jackjpark commented on #376
thanks, how would i return sizeThatFits? its a func of the uiview that takes a parameter Size? I just want to return the size the the content Stack View is at the point where the drawer gets its height?

[2020-03-11 15:28] brendan09 commented on #376
You pass sizeThatFits on your stack view a size with the correct width and CGFloat.max as the height. It will return the smallest size fitting that maximum that can fully contain the contents of the view.

setNeedsSupportedDrawerPositionsUpdate() updates positions as well as drawer position locations like this.

[2020-03-11 15:35] jackjpark commented on #376
I have no max height, the drawer needs to suit whatever size the stackview is rather than imposing the opposite

I may try calling  setNeedsSupportedDrawerPositionsUpdate() in viewDidLayoutSubviews, can you foresee any issues with that as itll solve my issues, but as mentioned in the initial post, code similar to that caused me a lot of crashes before

[2020-03-11 15:39] brendan09 commented on #376
I think you’re misunderstanding. SizeThatFits  using CGFloat max as the height will return the correct height for your view (even if it hasn’t been laid out yet).

As I mentioned, I don’t think you’ll be able to call it in viewDidLayoutSubviews.

Pulley resizes it’s content view as the drawer is opened/closed/collapsed. It is not possible to just make it follow the size of your stack view automati

[2020-03-11 15:52] jackjpark commented on #376
yeah using the layoutSubviews method still causes the looping crash of child vs parent laying each other out

ive tried

[code]

[2020-03-11 15:54] brendan09 commented on #376
Try using systemLayoutFittingSize, then. That one may not be properly considering Auto Layout.

[2020-03-11 15:59] jackjpark commented on #376
that one seems to do the trick, its causing a crash elsehwere in my app on some code that uses the drawer height to pad a google map view, but it got the desired effect for the drawer content to i guess ill debug the other issue separately

[2020-03-11 16:16] jackjpark commented on #376
I wondered if you might have an idea about this other issue, the drawer is calling its `drawerChangedDistanceFromBottom` func but the value for distance is `1.7976931348623157e+308` which causes a crash as i try to set this value as padding for my map

Any idea whats causing this odd value?

[2020-03-11 16:19] brendan09 commented on #376
It’s probably resulting from Pulley starting out with a size of zero, or another layout oddity. I don’t think the sample project does that, so it may be caused by when you’re calling setNeedsDrawerPositionUpdstes and Pulley not yet being in a laid out state.

You could try to ignore when the value is out of range, or find what’s causing it to deliver that callback prematurely.

[2020-03-11 16:21] jackjpark commented on #376
looking at the stack trace, its the drawers own call to `setDrawerPosition(position: initialDrawerPosition, animated: false)` in its viewDidLoad that trips the crash, it sets `drawerScrollView.setContentOffset` which sets `scrollViewDidScroll` which calls `delegate?.drawerChangedDistanceFromBottom` causing the method crash

[2020-03-11 16:23] brendan09 commented on #376
If it doesn’t occur in the sample project, then it’s something unique to how it’s being loaded here.

If it does occur in the sample project, file a bug report for it.

In the mean time, you can ignore out of range numbers in your method.

[2020-03-11 16:38] jackjpark commented on #376
makes sense, how to you range check a CGFloat though? i cant see a method or clear info searching online to compare it to a range

[2020-03-19 09:28] dcristolovean opened #377 "drawerPositionDidChange called too many times."
I'm trying to determine when the drawer reaches a certain position and do some visual updates in my app.
The only way I see for that is the drawerPositionDidChange delegate. The only problem with this is that the delegate is called at least 5 (five !) time during a transition, so it can't be used reliably.

Any way to determine if the drawer changed from .closed to .open just once, not five times

[2020-03-23 18:15] carVaba opened #378 "[Objective-c] Cant access to primaryContentViewController"
I try to perform a segue on Objective-C but i can't get access to variable primaryContentViewController, so I made an extension

MyPrimary *primaryViewController =  [vc getPrimaryViewController];

primaryViewController.dato = dato;

extension PulleyViewController {
	@objc
	func getPrimaryViewController() -> UIViewController! {
		return primaryContentViewController
	}

	@objc
	func getDrawerViewCon

[2020-03-23 18:30] brendan09 commented on #378
Objective-C is not officially supported by Pulley. As a result, I'm not sure what works/doesn't work.

[2020-03-25 20:31] jrz-afs opened #379 "Swipe down to close?"
By default, you cannot swipe down from a "collapsed" state to a "closed" state. Is this supported out of the box via some property? If not, what is the best way to achieve this?

Thanks.

[2020-03-25 20:33] brendan09 commented on #379
It's not supported. You could try adding a gesture recognizer or looking at the drawer position changes.

[2020-03-30 01:35] sdevo619 opened #380 "SwiftUI Integration Issue"
![image](https://user-images.githubusercontent.com/7008354/77867078-9556c880-71ea-11ea-8262-15030961359d.png)
I am running into this issue when using the Pulley controller, when transitioning from the root UIHostingController, which the primary view is embedded in a NavigationView, to the the pulleyViewcontroller, it keeps messing with the navigation buttons, any idea what I could do to fix this,

[2020-03-30 01:37] brendan09 commented on #380
Pulley doesn’t touch navigation bars or navigation items. As a result, there’s not really anything that can be done. It’s something specific to your setup with SwiftUI.

My only suggestion to you would be to add PulleyViewController as a child view controller to another one you own where you have more controller over layout.

[2020-03-31 03:32] adar2378 opened #381 "drawerPositionDidChange is stuck in a loop"
Here is my code. It is forever stuck in a loop :C
[code]

[2020-03-31 03:44] brendan09 commented on #381
You can’t call setDrawerPosition inside of drawerPositionDidChange.

Setting the drawer position calls drawerPositionDidChange....which just sets the drawer position again and creates an infinite loop.

[2020-03-31 04:10] adar2378 commented on #381
oh sorry. I am very new to iOS development. Thanks for your quick response. I removed the setDrawerPosition method call inside of drawerPositionDidChange but it is still stuck in a loop :( Could it be because of something else? Or setDrawerPositionChange is getting called from somewhere else?

[2020-03-31 04:13] brendan09 commented on #381
Anything that triggers a layout pass in Pulley could trigger it. Place a breakpoint and see what your callstack looks like. You can see what is causing it to happen.

[2020-03-31 04:14] adar2378 commented on #381
Thanks. I'll let you know I find anything

[2020-03-31 08:51] adar2378 commented on #381
Hi I think this where the setDrawerPosition is getting called. Inside of viewDidLayoutSubviews method
[https://i.ibb.co/ynZjkbj/Screenshot-2020-03-31-at-2-50-02-PM.png](image url)

[2020-03-31 09:48] brendan09 commented on #381
Yes, that’s fine. But, that’s initial load. You need to continue until you start seeing a recursive stack that shows it’s in an infinite loop so you can see what you’re doing to cause it to loop.

This is just initial load, and it’s fine.

[2020-03-31 12:14] adar2378 commented on #381
This is what the trace stack looks like:
[Video Link](https://drive.google.com/file/d/1gXg_XPjTrr0Z5u3UTmN7x6qWVQlW_kaC/view?usp=sharing)

[2020-03-31 15:06] brendan09 commented on #381
I get a playback error.

However, there’s very limited help I can provide as this isn’t related to Pulley. I can’t provide General iOS dev help here.

[2020-04-01 05:26] AshutosQuickride opened #382 "How to change background color of drawerContentVC"
pulleyDrawerVC.backgroundDimmingColor = .clear
 pulleyDrawerVC.backgroundDimmingOpacity = 1.0
after setting this also background color is still setting some blur color

[2020-04-01 05:31] brendan09 commented on #382
The background dimming settings don’t control the drawer. That controls the color of the background that “dims” the primary content VC when the drawer is open all the way.

If you want to remove the blur, set this to nil on PulleyViewController: drawerBackgroundVisualEffectView

You need to provide a background color in your drawer VC. Pulley won’t provide a background color for you.

[2020-04-01 05:53] AshutosQuickride commented on #382
I have set the above things but still i am getting the blur color for drawer can we remove that background color of it?

[2020-04-01 05:54] brendan09 commented on #382
Please read my previous comment. It says what you were setting is wrong, the correct thing to set to remove the blur.

[2020-04-01 05:57] AshutosQuickride commented on #382
yes according to previous comment i have removed and updated my code
let mainContentVC =  UIStoryboard(name: StoryBoardIdentifiers.mapview_storyboard, bundle: nil).instantiateViewController(withIdentifier: "CreateRideHomeViewController") as! CreateRideHomeViewController
            let drawerContentVC =  UIStoryboard(name: StoryBoardIdentifiers.mapview_storyboard, bundle: nil).instantiateViewContr

[2020-04-01 06:00] brendan09 commented on #382
You need to set it after the view controller’s viewDidLoad has been called, since that’s where the built-in visual effect view is created and added.

You can force the view to load if you call loadViewIfNeeded(). Do that before you set it to nil.

[2020-04-01 06:59] AshutosQuickride commented on #382
still it does not work for me
Did you ever tried this . If you have can me share the demo with me?

[2020-04-01 12:05] adar2378 commented on #381
Sorry for the inconvenience, [video link](https://www.youtube.com/watch?v=62X-rhpmXmI)
Please have a look here. I'd really appreciate your feedback, thanks.

[2020-04-01 14:34] brendan09 commented on #381
The stack on the left isn’t changing, so you’re not actually stepping through anything when you’re hitting continue. It’s still just the first time load process from when you hit the button, and it’s not an infinite loop.

People usually see infinite loops when they change drawer positions / call Pulley methods in the delegates, or cause layout passes to occur in one of their view controllers. For

[2020-04-01 14:35] brendan09 commented on #382
Yes, I’ve tried this. It’s an officially supported API and has a comment in the file telling you how to do this.

I don’t have a demo I can share.

[2020-04-01 15:05] adar2378 commented on #381
Thank you so much <3 As I'm very new(only learning for a week) to iOS development. The print statements were recurring so I thought maybe it is stuck in a loop with some contradictory statements.

I'll try to do what you said. Have a nice day.

[2020-04-01 20:45] sdevo619 commented on #380
Thank you very much for clarifying this and for the fast response. In eliminating this as a potential issue, you helped me figure out what was going on. The issue is a bug in SwiftUIs navigation, and has nothing to do with Pulley, but I found a workaround. I very much appreciate the help here. Best wishes to you. Stay healthy and safe!!!

[2020-04-05 07:36] #381 closed

[2020-04-05 12:17] MoElnaggar14 opened #383 "drawer View in collapsed position under TabBarController"
how I can set drawer height when launched Pulley ViewController

[2020-04-05 15:04] brendan09 commented on #383
It queries the drawer VC for the height for a given position. Please see the README or sample project.

[2020-04-05 17:28] MoElnaggar14 commented on #383
I have a UITabBarController contain PulleyController so the drawer VC in the collapsed position appear under the TabBar

[2020-04-05 17:30] brendan09 commented on #383
As I said before, your drawer VC is responsible for returning the height in the delegate method.

It doesn’t matter that it’s contained in a UITabBarController.

See the README or sample project for how to change the height of the drawer positions.

[2020-04-09 00:35] #383 closed

[2020-05-05 13:44] sdevo619 commented on #380
Hey, sorry to bug you again on this, but I have tried every single combination possible, but am still running into a ton of issues trying to navigate back from a pulley vc to my rootvc when embedding the pulleyvc in a UIViewControllerRepresentable. The back button appears to show just briefly as the vc loads and then it disappears. I need to go from a root vc with the nav bar hidden(which is hosti

[2020-05-05 15:57] brendan09 commented on #380
This project was written years before SwiftUI, and has no intention of being compatible with SwiftUI.

[2020-05-18 10:09] haydgately commented on #380
@sdevo619 Would you be able to send an example project integrating with SwiftUI ? I am struggling to get it working at all, I know the developer has explained it isn't plug and play and wasn't built with SwiftUI in mind, but you originally said you had it working quite well at one point. Thanks!

[2020-05-26 17:39] ARGAMX commented on #379
I am search that functionality too. I thought that it works that way out of the box. But not.
Thanks, will add gesture recognizer manually. Hope it will help.

[2020-05-26 18:44] ARGAMX commented on #379
Sadly, but "UISwipeGestureRecognizer.direction = .down" don't work too.
I have tried 'PulleyViewController.addDrawerGestureRecognizer'method, and also tried to add it on inner view.
Gesture Handle function not called.
Tap, Swipe Left, Swipe Right - works perfect.
Swipe Up, Swipe Down - not.

So, seems "Swipe down to close" is not possible. It should be handled from Pulley, not externally.

[2020-05-28 09:09] maxmika opened #384 "Tapping Dimming View does not collapse drawer when not set as supported position"
I disabled the `.collapsed` position for my ´drawerView` and when it's in state `.open` and I click on the remaining space on top of it to go back to the (e.g.) map it doesn't collapse (obviously). It also logs me an error:

[code]

I checked your code and you log that whenever I do not support `.collapsed` as a position. Using the call stack I figured out than whenever the user taps on the dimmin

[2020-05-28 19:39] triztian opened #385 "Support dimming when partially revealed"
Is it possible to toggle the `primaryContentViewController` dimming when the drawer is partially revealed?, I know it gets dimmed when in `.open`. I'm looking to be able to do something like this:

[code]

[2020-06-09 19:53] ARGAMX commented on #379
Found solution to close from bottom position without gesture:

`extension OfficeDetailsVC: PulleyDrawerViewControllerDelegate {
    func drawerChangedDistanceFromBottom(drawer: PulleyViewController, distance: CGFloat, bottomSafeArea: CGFloat) {
        previousPosition = nil
    }

    func partialRevealDrawerHeight(bottomSafeArea: CGFloat) -> CGFloat {
        return bottomSafeArea + (UIScreen.ma

[2020-06-11 13:53] AshutosQuickride opened #386 "Top spacing issue"
Hi there i am using this pulley its a great library.

But i am facing some issue like if my drawer view is opened fully and i am going to other screen and coming back the drawer view is taking some top space.How i can avoid that. state is open

[2020-07-06 18:48] fabiomd opened #387 "Memory Leak on iPhone 11 when changing orientation"
I got a issue in that seans to happen only in iPhone 11.

I have a sequence of screens stacked using a navigationController.
Among the stacked screens I have a PulleyViewController type screen that implements the willTransitionTo method,
inside the method i change the navigationBar visibility based on the app current orientation.
However the i rotate the app from landscape to portrait and back to

[2020-07-23 08:45] fl034 opened #388 "Is it possible to show drawer above modal presentation?"
In my situation I want to show a drawer over a `UINavigationController`. The drawer should stay visible, when pushing other view controllers (this already works) or when presenting them modally (this doesn't work).
I already tried different `UIModalPresentationStyle` values, but none of them fixed the issue.

Is there a way to tell Pulley to show the drawer above the modal presented view?

If not,

[2020-07-27 16:19] jcbriones commented on #384
I was about to make the same comment and good thing I saw this. `.collapsed` is not supported on my settings but it's trying to set it as collapse which I didn't choose.

[2020-07-27 16:39] ulmentflam commented on #384
@maxmika and @jcbriones This functionality has been added to the master branch via PR https://github.com/52inc/Pulley/pull/294. I will be pushing a minor point update shortly that includes this PR.

[2020-07-27 16:49] jcbriones commented on #384
Thank you! I appreciate your quick feedback

[2020-07-28 11:49] bhaveshbc commented on #344
@AnkurLahiry did you find any solution?

[2020-07-31 14:00] fl034 commented on #388
Not needed anymore

[2020-07-31 14:00] #388 closed

[2020-07-31 14:13] fl034 opened #389 "Statusbar Appearance issue on modal presentation"
Hey guys,

My view hierarchy is like this

CustomRootViewController
↳ PulleyController _Modal Presentation (.overCurrentContext)_
     ↳ TabBarController _(Pulley's mainContentController)_
          ↳ NavigationController
               ↳ ListViewController
                    ↳ DetailViewController _pushed onto navigation / custom statusbar style_
                    ↳ OtherViewController _presen

[2020-08-05 12:03] florianbuerger opened #390 "Pulley hangs on iOS 14 Beta 4"
After upgrading to iOS 14 Beta 4, even the example projects won't launch anymore and the CPU is at 100%. I didn't have time to investigate further so I don't know if this is a bug from iOS 14 or Pulley. It worked fine until iOS 14 Beta 3.

Anyway, a short term fix I found is to slightly delay the layout code for Pulley with a good old `DispatchQueue.main.asyncAfter(deadline: .now() + 0.1)` — which

[2020-08-06 13:58] Quantum2 commented on #390
This bug started showing up in 14b4, it's an auto layout loop caused by calling `view.setNeedsLayout()` inside of `override open func viewDidLayoutSubviews()` when setting the value on the variable `currentDisplayMode`. For now I've removed the `view.setNeedsLayout()` from the variable setter, but it might cause unexpected behavior when changing the drawer display mode after it is drawn.

My guess

[2020-08-11 12:42] andreyz commented on #390
Here's a good summary on [how to debug auto-layout feedback loops](https://www.hackingwithswift.com/articles/59/debugging-auto-layout-feedback-loops).

[2020-08-15 01:53] Multiforge opened #391 "How to show a drawer over the current view controller?"
Hi, I have a question I hope you can help with.  I'm probably missing something super obvious, but I want to show a drawer over an existing view controller that's modal and is already onscreen.  I'd like to do this in code, not IB.  Here's pseudocode for what I have tried so far:

**MyModalViewController.swift  (example)**
[code]

Unfortunately the code above results in a runtime error, `'NSInvali

[2020-08-18 19:57] pmacro commented on #390
FYI still occurs on Beta 5.

[2020-08-18 20:17] pmacro commented on #390
Around line 597:

changing this:
[code]

to this:

[code]

Fixes it.  I don't know this feature or codebase well enough to judge the implications of not running `setNeedsLayout` when old and new values are the same.

[2020-08-19 02:29] vvavepacket commented on #371
@YujxZJCN  how did you manage to put a tab bar as part of the pulley view controller? Can you post a sample of your storyboard

[2020-08-19 07:43] funkenstrahlen commented on #390
I can confirm this issue. Still present on beta 5.

@pmacro Thank you for providing a proposal for a fix! Are you able to open a PR with the fix?

[2020-08-19 22:58] pmacro commented on #390
@funkenstrahlen we only use `drawer` mode, so my workaround may not work in all cases.  I think someone who knows the codebase, and all edge cases, or who has time to discover them, would be better placed to fix this.  I posted the workaround mainly to help anyone else who's trying to test the rest of their app for iOS 14 launch.

[2020-08-20 14:35] ulmentflam commented on #390
Hey! Thanks everyone for looking into this issue as I have not had a chance to dive into Xcode 12 yet. I have create the [xcode12](https://github.com/52inc/Pulley/tree/xcode12) branch to start looking into the beta issues with iOS 14 and have included the above patch for this issue, as well as the fix for if the drawer in `panel` mode and the display mode does not transition. Please continue to te

[2020-08-25 08:48] Multiforge commented on #391
ping?

[2020-09-01 11:38] funkenstrahlen commented on #390
Thank you for providing the `xcode12` branch with the fix. It does actually improve the situation as the app does not hang on startup anymore.

However when I try to manually change the pulley position state it still starts to hang in an infinite loop.

[2020-09-06 16:20] siddharthbiju commented on #340
how to set pulley height above tabbar ?

[2020-09-07 07:34] stevi-clue commented on #390
Hi! When can we expect an updated version of the SDK with the fix?

[2020-09-07 20:10] ulmentflam commented on #390
@florianbuerger is this infinite loop happening when you call `setDrawerPosition(position, animated, completion?)`?

[2020-09-08 10:16] florianbuerger commented on #390
@ulmentflam I am not 100% sure what you mean. Do you mean in the patched version I [linked in my first message](https://github.com/52inc/Pulley/issues/390#issue-673486444)?

We have been using Pulley with that fix for a while now and we didn't encounter any more problems. There are no hangs anymore. We are calling `setDrawerPosition(position, animated, completion?)` often and also directly after l

[2020-09-08 14:09] ulmentflam commented on #390
I'm sorry @florianbuerger, I did mean to tag @funkenstrahlen in my question above who is testing on the `xcode12` branch.  However, it is good to know that you are not experiencing any other hanging issues with a slight delay in the layout code as I continue to investigate.

[2020-09-08 15:48] florianbuerger commented on #390
@ulmentflam Ah, got it 😄 I'll see if I can test the `xcode12` branch this week. Not sure if we need anything else from my fork of Pulley, it has been a while since I looked at that part of the app.

[2020-09-14 11:42] sohail-niazi commented on #390
Hi, I have tried this branch in xcode 12 but app hangs on launch. but it is working fine with xcode 11.

[2020-09-14 16:43] ulmentflam commented on #390
@sohail-niazi are you using Xcode 12 Beta 6?

[2020-09-14 18:03] sohail-niazi commented on #390
yes its is Xcode 12 beta 6.

[2020-09-15 18:52] pmacro commented on #390
Hi @ulmentflam, I fully understand all the moving parts here, and that this may be an unreasonable question! But given the announcement that iOS 14 will be released tomorrow, could you please share your thoughts on the timing of this fix? Do you plan to have a compatible release ASAP, or do you plan to hold off until there is more clarity on reported issues, such as @sohail-niazi's? That informati

[2020-09-15 19:39] ulmentflam commented on #390
@pmacro I am planning to hold off until there is more clarity on the reported issues before getting this branch out specifically.   I would like to get more clarity on @sohail-niazi's and @funkenstrahlen's issues before I release (as on the sample project I have not been able to replicate either of their issues on this branch). I want to get a fix for this issue out as soon as possible,  as soon a

[2020-09-16 03:43] triztian opened #392 "Xcode12: "No such module Pulley""
After installing and opening my project with Xcode12 I started seeing that message in files that had `import Pulley` statements.

My project used to build with Xcode 11.7 and I realized that newly pod init'd project did not have this issue when I tried to replicate. The min iOS version for my project is 10.

I'm still seeing the issue, when try to build to run on a iOS 14 simulator target. I've tr

[2020-09-16 03:49] triztian commented on #386
You can use the `.partiallyRevealed` state instead of `.open` to control the height:

[code]

[2020-09-16 08:33] funkenstrahlen commented on #390
Unfortunately I will not be able to provide further input to this issue. I decided to go with a completely different approach and use system default modal views instead of Pulley in my app as I am trying to get the app compatible with macOS. This will be more easy with default system components in my case.

[2020-09-16 14:25] pschneider commented on #390
@ulmentflam
We can reproduce this issue in two of our apps with latest stable version. After applying the `xcode12` branch of this repo our views work as expected and we could so far not detect any other side effects.

[2020-09-16 14:58] ulmentflam commented on #392
@triztian Did you do a `pod install --repo-update`?

[2020-09-16 18:32] triztian commented on #392
@ulmentflam no but I just tried it, it installs successfully:

[code]

but same result on build.

One thing to note though is that my project has the following setting:

[code]

[2020-09-16 18:36] sohail-niazi commented on #390
@ulmentflam I have tried demo project for xcode12 branch. It works fine but still I cant make it work on ios14, ios13 is running fine. I have vereified xcode12 branch changes after pod install. But App just gets stuck on launch and no logs even.

[2020-09-16 18:47] ulmentflam commented on #390
@sohail-niazi have you made any customizations or tweeks to Pulley, or have you subclassed it?

[2020-09-16 18:50] sohail-niazi commented on #390
I was able to reproduce error on demo project. Steps to reproduce error:
1 - UnComment programatical loading of pulleyViewController and add primary/drawer views
2 - set initial position .closed and app hangs.

[2020-09-16 19:21] ulmentflam commented on #390
@sohail-niazi That's great! It looks like there is still an auto-layout feedback loop when the initial drawer position is set. I am looking into it now, thanks for the feedback!

[2020-09-16 19:21] sohail-niazi commented on #390
@ulmentflam Apparently PulleyViewController is running in infinite loop. It's viewDidLayoutSubviews() method is getting called in loop...
And getting this message in UIMainApplication after applying breakpoint in PulleyViewController :
"Application violated contract by causing UIApplicationMain() to return. This incident will be reported."

[2020-09-16 19:22] sohail-niazi commented on #390
Much appreciated speedy response. Thanks...

[2020-09-17 00:25] triztian commented on #392
@ulmentflam I was able to solve this issue by doing the following, instead of setting `VALID_ARCHS` in Xcode 12 we have a new setting: `EXCLUDED_ARCHS` which I set to `i386 armv7` and changed my main project's `Architecture` setting to `$(STANDARD_ARCHS)`.

This is based on finding this in the [Xcode 12 Release Notes](https://developer.apple.com/documentation/xcode-release-notes/xcode-12-release-n

[2020-09-17 01:24] ulmentflam commented on #390
@funkenstrahlen I know you are no longer using Pulley for your application, but were you by chance changing the position of the drawer to or from the `.closed` position?

[2020-09-17 03:27] funkenstrahlen commented on #390
Yes that's exactly what I did and that also caused the same 'hang' symptom.

[2020-09-17 14:02] ulmentflam commented on #390
@funkenstrahlen Thank you! This auto-layout loop is related to when the view is laid out in the `.closed` position. For everyone on this branch or waiting on this issue, I have been debugging this loop and will get the `xcode12` branch released as soon as there is a fix.

[2020-09-17 16:27] siddharthbiju opened #393 "Pulley hangs on xcode 12 ios 14."

[2020-09-17 18:36] siddharthbiju commented on #393
Works on iOS 13 xcode 12, but crashes on iOS 14

[2020-09-17 19:08] ulmentflam commented on #393
@siddharthbiju See issue #390

[2020-09-17 19:08] #393 closed

[2020-09-17 19:08] #392 closed

[2020-09-18 15:00] ulmentflam commented on #390
I just pushed a theoretical fix to the `xcode12` branch. If anyone continues to run into issues let me know ASAP, otherwise I will get a release out as soon as there is confirmation that this update is working.

[2020-09-18 15:13] RamblinWreck77 commented on #390
Just found this and can confirm the tight loop in setDrawerPosition for iOS14 users. Testing the xcode 12 branch in a minute.

[2020-09-18 15:15] ulmentflam commented on #391
@Multiforge Your root view controller needs to be the PulleyViewController in this case. The best way to bring up the drawer view over the current view controller is by setting the drawer position using the `setDrawerPosition(position, animated, completion?)` method. Take a look at the sample app to see how the PulleyViewContoller is presented in the view hierarchy.

[2020-09-18 15:16] RamblinWreck77 commented on #390
Well right off the bat, the xcode 12 branch does not tight loop and seems to be working :) So far so good!

[2020-09-18 15:26] #364 closed

[2020-09-18 16:27] ulmentflam commented on #390
We have a official fix for the iOS 14 and Xcode 12 issues [here](https://github.com/52inc/Pulley/releases/tag/2.8.2). We can address any new issue related to the above fixes on the `xcode12` branch. However to get something stable out sooner rather then later for iOS 14, the fixes in the `xcode12` branch have been released. [Pulley 2.8.2](https://github.com/52inc/Pulley/releases/tag/2.8.2)

[2020-09-18 16:32] sohail-niazi commented on #390
@ulmentflam Thanks for new release. But The issue persists. Auto-layout is looping, it is looping for collapsed position so check of .closed is not working. drawerMaskingPath()  is getting called from 3 different locations :
1 - maskBackgroundDimmingView()
2 - maskDrawerVisualEffectView()
3 - viewDidLayoutSubviews() on line 862

[2020-09-18 16:40] emresa37 commented on #390
It's still has the issue. drawerMaskingPath() is looping somehow while setDrawerContentViewController()

[2020-09-18 16:42] ulmentflam commented on #390
Gotcha, looking into it now

[2020-09-18 17:37] ulmentflam commented on #390
@sohail-niazi and @emresa37 I just updated the `xcode12` branch again with a potential fix. Could you both see if Auto-layout is still looping on drawerMaskingPath()?

[2020-09-18 17:47] sohail-niazi commented on #390
@ulmentflam looking into it.

[2020-09-18 18:04] sohail-niazi commented on #390
@ulmentflam still going in loop. Drawer's ViewDidLoad gets called already, so this check doesn't work. Same loop is going on..

[2020-09-18 18:21] RamblinWreck77 commented on #390
2.8.2 works for me, no tight loop.

[2020-09-18 18:22] ulmentflam commented on #390
@sohail-niazi Interesting, did you by chance replicate this on the sample app?

[2020-09-18 18:31] sohail-niazi commented on #390
@ulmentflam it is not replicating on sample app. On my app, I have commented almost all extra code to just load pulley, but is stuck on launching screen

[2020-09-18 18:43] ulmentflam commented on #390
@sohail-niazi Can you post a code snippet with how you are initializing Pulley, and also the output of running your app with https://www.hackingwithswift.com/articles/59/debugging-auto-layout-feedback-loops as I am not able to replicate on the sample app.

[2020-09-18 18:57] sohail-niazi commented on #390
Issue is resolved in App. It is working fine now. The culprit was this code snippet:

[code]
removing It worked as expected.

@ulmentflam Thank you very much for great support and response.

[2020-09-18 19:01] ulmentflam commented on #390
@sohail-niazi No problem! Are you still on the `xcode12` branch?

[2020-09-18 19:05] sohail-niazi commented on #390
@ulmentflam Yes I am.

[2020-09-18 19:08] ulmentflam commented on #390
@emresa37 Are you still experiencing your issue on the `xcode12` branch?

[2020-09-19 08:04] emresa37 commented on #390
@ulmentflam No it's fixed. Thank you for great support 👍

[2020-09-19 22:09] ovdm commented on #390
@ulmentflam also experienced the issue. 100% CPU, loop on layoutSubview..
Just upgraded to master and seems to be working.
Thanks for the support. Would have been virtually impossible for me to fix

[2020-09-21 20:20] pmacro commented on #390
@ulmentflam I just wanted to confirm: is the `xcode12` branch that everyone seems to be reporting as working, equal to the `2.8.3` release?  Or is there something different in there that you're planning for a subsequent release?

And as an aside, thanks for all your work on this release, especially given the short time scale Apple gave us all to have solid iOS 14 versions of our libraries. 👏

[2020-09-22 04:30] 150vb commented on #390
Hello, Pulley still hangs on iOS 14 when I set the view alpha, and I am using release 2.8.3.

`func drawerPositionDidChange(drawer: PulleyViewController, bottomSafeArea: CGFloat)
    {
        if drawer.drawerPosition != .collapsed
        {
            view.backgroundColor = .white
            drawer.drawerBackgroundVisualEffectView?.alpha = 0.1
            drawer.drawerContentContainerView?.alph

[2020-09-22 20:33] ulmentflam commented on #390
@pmacro The `xcode12` branch that everyone is reporting as working is equal to the `2.8.3` release as of now. As new issues come in related to Xcode 12 it will be the bugfix branch for continued development

[2020-09-22 20:42] ulmentflam commented on #390
@150vb I will look into that as soon I get a chance. In the meantime can you please look in to running your app with `-UIViewLayoutFeedbackLoopDebuggingThreshold 100` as referenced [here](https://www.hackingwithswift.com/articles/59/debugging-auto-layout-feedback-loops) and posting any useful information you can on the auto-layout feedback loop that your app is running into?

[2020-09-22 20:43] #391 closed

[2020-09-23 05:32] 150vb commented on #390
@ulmentflam Thanks for the replies, I posted the logs here, I thought these would be useful. I was able to reappearance it via PullyDemo.

[code]

[2020-09-28 14:56] glorysaber opened #396 "iOS 13 feedback loop with latest release 2.8.3"
With the latest update to 2.8.3 I am also running into a feedback loop now. Its happening on non-homebutton devices (Because thats the only devices we use it for in our app) on devices like the iPhone pro max but only in iOS 13. Its the same feedback loop stack every-time. I included the stack trace for the feedback loop as its highly reproducible. When the drawer is open and you go to the home-sc

[2020-09-28 15:11] glorysaber commented on #396
Is not reproducible on 2.8.2, sending a build of my app to my beta testers using 2.8.2 now to see if it is fixed.

[2020-09-28 15:28] ulmentflam commented on #396
@glorysaber Thanks! I have been looking into these issues via #390

[2020-09-29 22:10] ulmentflam commented on #390
@150vb I just pushed a new fix for your issue to the `xcode12` branch and would love for you to test it before I release it.

[2020-09-29 22:35] ulmentflam commented on #396
@glorysaber Can you replicate this issue on the Demo App for me? I am unable to replicate this feedback loop on my devices and the difference between 2.8.2 and 2.8.3 was very minor so I would love to track this loop down.

[2020-09-30 00:31] glorysaber commented on #396
I just tried and was unable to reproduce in the default demo app. Ill take a look how we use it and see if there is a significant difference.

[2020-09-30 01:16] glorysaber commented on #396
Ok so what makes it reproducible is this in the DrawerContentViewController.

[code]
This is what causes it to get in a loop with 2.8.3 but not 2.8.2

[2020-09-30 01:17] glorysaber commented on #396
I will play around with that function I posted above to see if I can fix it.

[2020-09-30 01:44] 150vb commented on #390
@ulmentflam Thank you very much, I tested it and it worked fine.

[2020-09-30 12:16] benjaminmestrez commented on #390
@ulmentflam your latest fix on `xcode12` branch fixed it for me, thanks 😀.

[2020-09-30 15:12] ulmentflam commented on #396
@glorysaber I have pushed a theoretical fix to the `xcode12` branch, if you could pull that down and see if that fixes your issue that would be much appreciated!

[2020-09-30 15:54] vladkos commented on #390
For me it's fixed too. @ulmentflam good job. Thx you

[2020-09-30 17:33] glorysaber commented on #396
Yes thank you @ulmentflam! That seems to have done the trick!

[2020-09-30 17:40] ulmentflam commented on #396
@glorysaber Awesome, this update is going out now, thanks for your report!

[2020-09-30 19:41] ulmentflam commented on #396
This issue has been fixed in release [2.8.4](https://github.com/52inc/Pulley/releases/tag/2.8.4)

[2020-09-30 19:41] #396 closed

[2020-09-30 19:47] ulmentflam commented on #390
@150vb @benjaminmestrez @vladkos The latest from the `xcode12` branch has been released in version [2.8.4](https://github.com/52inc/Pulley/releases/tag/2.8.4)!

[2020-09-30 21:37] ulmentflam commented on #387
@fabiomd I have not been able to replicate this memory leak on my iPhone 11, can you let me know if you are still experiencing it on the current release?

[2020-09-30 21:46] #386 closed

[2020-10-04 03:19] dxt opened #400 "Unable to drag the drawer on iOS 14"
When compiled on Xcode 12 and run on an iOS 14 device, I am unable to drag the Pulley drawer to open or close it. Swiping works fine.

Here are examples on the Demo project:
[Works on iOS 13](https://user-images.githubusercontent.com/920359/95005922-df15d680-05b2-11eb-85a2-cef4788866d1.gif)
[Does not work on iOS 14](https://user-images.githubusercontent.com/920359/95005948-4df32f80-05b3-11eb-8bca-

[2020-10-04 22:39] JensDee commented on #400
We had a very similar issue under iOS 12. An identical issue occurred with iOS 14 (weirdly enough it only occurred in distribution builds which was a nightmare to debug). In both cases it had to do with the internal scrollView of the PulleyViewController. It occurred when the contentHeight had decimal places. I do not recall exactly what was causing the endless layout cycles, but they occurred whe

[2020-10-05 14:40] ulmentflam commented on #400
@dxt Thanks for bring up this issue, as it seems to be related to the feedback loops I have been researching via issue #390. I will look into it as soon as I get a chance! Hopefully @JensDee's solution will be a temporary fix for you as I look into the root  of this issue.

[2020-10-08 19:33] ulmentflam commented on #400
@dxt So I have found the issue and am working on a fix for it now. This issue is in iOS 14 updating constant on the constraint for the temperature label is calling `viewDidLayoutSubviews()` when the value is updated. Therefor when `scrollViewDidScroll(_:)` calls the `drawerChangedDistanceFromBottom(drawer:, distance:, bottomSafeArea:)` delegate method in the `PrimaryContentViewController.swift` of

[2020-10-08 19:36] ulmentflam commented on #390
As this is the home to all issues iOS 14 and Xcode 12, see comments for issues related to dragging scrollview in issue #400

[2020-10-08 21:18] ulmentflam commented on #400
@dxt @JensDee A solution for this issue has been fixed and pushed via Pulley version [2.8.5](https://github.com/52inc/Pulley/releases/tag/2.8.5)! Thanks for reporting this issue!

[2020-10-08 21:18] #400 closed

[2020-10-08 21:20] ulmentflam commented on #390
More iOS 14 issues have been fixed in release [2.8.5](https://github.com/52inc/Pulley/releases/tag/2.8.5). Please continue to report issues with iOS 14 as you run into them!

[2020-10-08 21:46] dxt commented on #400
Thank you @JensDee for the suggestion. And thank you @ulmentflam for the fix! It is much appreciated!

[2020-10-15 19:12] lechium commented on #378
there is a pure obj-c port that is practically 1:1 that i wrote for my company if you are interested in using [that](https://github.com/GuardianFirewall/Pulley-ObjC)

[2020-11-05 11:58] MaksGre opened #402 "Animation"
**Describe the question**
When the user swipes drawerViewController I fire my animation to move the custom tabbar, the problem is that my animation somehow gets executed with the drawerViewController swipe animation settings. I checked everything several times. I started my animation without a swipe and then the animation happens correctly, with my settings. If I swipe drawerViewController, then m

[2020-11-05 15:05] sophiagatliff opened #403 "[QUESTION] Help with error: "When instantiating from Interface Builder you must provide container views with an embedded view controller."
**Describe the question**
A clear and concise question about the functionality of pulley or a delegate method.

**Code snippets and helpful information**
Any code snippets, screenshots, recordings, or any other helpful information for addressing your question.

**Pulley Information (optional):**
 - Version: [e.g. 2.8.5]
 - Any customizations or tweaks: [e.g. Yes/No]
 - Did you Subclass: [e.g. Yes/

[2020-11-11 11:07] ambi1132 commented on #390
App is stucking on launch screen as we are initializing the root view controller using pulley library in iOS14. I stucked in this issue from last 2 days.

[2020-11-11 11:18] ambi1132 opened #405 "App getting hang on iOS 14 using pulley"
App is getting hanged in iOS14(xcode 12), coming white blank screen as we are initialising the root view controller using pulley library.
Please help me to resolve this issue. Is any update required in pulley library for iOS 14 because in previously versions it was working fine.

[2020-11-13 09:08] EmanueleVolpato99 commented on #29
I can't use the pulley library programmatically without connecting it to the storyboard, what should I do?

[2020-11-16 08:17] EmanueleVolpato99 opened #406 "Navigator BAr"
when I implement the pulley library the navigator disappears, how can I implement it?

[2020-11-20 09:18] EmanueleVolpato99 commented on #141
Can you explain with code please?

[2020-11-20 14:28] ulmentflam commented on #405
@ambi1132 I probably need to update the README, as iOS 14 has caused this common issue in the Pulley lib. The hanging issue should have been fixed in release [2.8.5](https://github.com/52inc/Pulley/releases/tag/2.8.5) and above. That being said, if you upgrade Pulley and you are still running into a feedback loop use [this](https://www.hackingwithswift.com/articles/59/debugging-auto-layout-feedbac

[2020-11-20 14:33] ulmentflam commented on #390
@ambi1132 See my comments on your issue #405

[2020-11-20 15:01] ulmentflam commented on #403
If you right click on the scene where you have the PulleyViewController you will see an outlet for the `primaryContentContainerView` and the `drawerContentContainerView`. Connect those to your embedded view controller and you should be good to go. See my screen shot below for more information on the location of the outlet in Xcode.

<img width="1920" alt="Screen Shot 2020-11-20 at 9 46 07 AM (2)"

[2020-11-20 15:14] ulmentflam commented on #402
The `PulleyViewController` implements the `UIScrollViewDelegate` that will call the `setDrawerPosition` function to be called on particular interactions.  Is it possible you are calling that animation in the `drawerPositionDidChange` delegate method or another delegate method?

[2020-11-21 03:27] MaksGre commented on #402
Yes, I am starting my animation from drawerPositionDidChange method.

[2020-11-23 15:50] EmanueleVolpato99 commented on #361
please contact me i can not understand how can i use this library programmatically
email : emanuele_volpato@outlook.it

[2020-11-23 16:01] ulmentflam commented on #402
@MaksGre Can you describe where you are calling those animations?

[2020-11-24 03:23] MaksGre commented on #402
[code]
in didScrollUp method about the same code and the same effect

[2020-12-01 05:52] iori57 commented on #385
I'm looking for the exact same functionality, @triztian did you managed to work out something?

[2020-12-02 00:56] iori57 commented on #379
+1 for this, I'm not sure why this is not supported because sounds like a common feature to allow user to swipe down to dismiss the drawer
For my case I'm using supportedDrawerPositions of [.partiallyRevealed, .closed] for a lot of the dialogs to replace popups and user can pull down to dismiss the drawer

[2020-12-03 05:22] triztian commented on #385
@iori57 Yes, I created a "Dimmable" protocol and extended PulleyController to check for that type; it is that type It'll inject a view to the primary controller. It's roughly like this:

[code]

Here's my base dimmable controller that I extend:

[code]

And finally my custom `PulleyController`:

[code]

[2020-12-10 16:50] #405 closed

[2020-12-10 16:51] #403 closed

[2020-12-10 16:51] #406 closed

[2021-01-03 02:16] swiftymf opened #408 "Remove possibly unnecessary view"
**Describe the question**
There is a view that appears in the view debugger that may not have a purpose, at least not as far as I could find. I'm wondering if this is something that can be removed. Sometimes it can make debugging more challenging. These are highlighted in the screenshots provided.

**Code snippets and helpful information**
<img width="1441" alt="Mystery view" src="https://user-ima

[2021-01-11 12:18] Anon-Mars commented on #390
Hey!
So i have been testing on the new fixes
i pulled the new fixes from :
pod 'Pulley', git: 'https://github.com/brainbicycle/Pulley.git', branch: 'master'
everything works fine except for some weird behavior when pulley position changes from expanded to collapsed or closed it moves down slowly as it is sinking.

so there might be a bug for pulley position changing.

[2021-02-02 10:12] iGeX opened #409 "[BUG] iPad panel mode problem"
Hello

I faced problem with iPad panel mode when I open pulley in .closed mode by default. Panel is supposed to be hidden but I can see chunk of panel overlapping from outside.  I decided that it is bug in my rewrited code (I have rewritten it for pure Xamarin.Ios), but it appears in both libraries (I've written exactly the same Swift and Xamarin demos, all behavior is same). I've used iPad Pro (1

[2021-02-17 08:01] MarkKazakov commented on #409
I've also experienced the issue, submitted a PR with the fix.
https://github.com/52inc/Pulley/pull/410

[2021-02-25 03:21] iGeX commented on #379
Maybe somebody will find it useful. With ARGAMX workaround when drawer in collapsed it no longer moves down with finger scrolling. You can achieve closing with swipe even in this position, but it looks and feels unnatural. As workaround for this problem I've decided to sacrifice one of possible drawer positions and redefine heights, so .collapsed state is now 0 pixels height, and .partiallyReveale

[2021-04-13 14:40] #409 closed

[2021-04-16 05:51] theogscott commented on #375
I seem to have a problem with an app that worked perfectly in November 2019, but now no longer working and going to an infinite loop, until the device runs out of memory and then crashes.

This is what I know: PulleyViewController keep on dispatching on viewDidLayoutSubViews() in the main thread, the app completes UIViewController.viewDidLoad()for controller that needs to displayed,  but never get

[2021-04-19 14:00] #387 closed

[2021-04-20 08:06] Roman-swift opened #413 "[BUG]"
**Describe the bug**
The latest version does not start PulleyViewController when you pass ".open" in func supportedDrawerPositions () -> [PulleyPosition] (only on iphone 11 pro, 11 pro max, 12 pro). It works good on other devices.
All other PulleyPositions work nice.
Please help me

**Pulley (please complete the following information):**
 - Version: [2.9.0]

**Xcode (please complete the following

[2021-04-20 10:55] theogscott commented on #375
@ulmentflam Thanks that helped a lot.

[2021-04-21 15:17] Roman-swift commented on #375
@ulmentflam I have it problem now (only on iphone 11 pro, 11 pro max, 12 pro/ iOS 14.4). Pulley version 2.9.0, xCode version 12.4.  It works good on other devices.
This is what I know: When i don't send ".open" in func supportedDrawerPositions () -> [PulleyPosition] - no bug. DispatchQueue.main.asyncAfter(deadline: .now() + 0.1) fixed it, but not everything works correctly.
Please, help me

[2021-04-21 15:20] Roman-swift commented on #390
@ulmentflam I have it problem now (only on iphone 11 pro, 11 pro max, 12 pro/ iOS 14.4). Pulley version 2.9.0, xCode version 12.4. It works good on other devices.
This is what I know: When i don't send ".open" in func supportedDrawerPositions () -> [PulleyPosition] - no bug. DispatchQueue.main.asyncAfter(deadline: .now() + 0.1) fixed it, but not everything works correctly.
Please, help me

[2021-04-21 16:07] theogscott commented on #375
@Roman-swift I'm using v 2.9.0, Xcode Version 12.4 (12D4e) and for me it works on iPhone 6s, 7+, 11 - iOS 14.5 I did noted in the console some complains about constraint issues when running the app, but not had a good look at the problem in detail.

[2021-04-22 00:20] ulmentflam commented on #413
@Roman-swift Are you able to replicate this behavior in the Pulley sample app?

[2021-04-22 00:38] ulmentflam commented on #390
@Roman-swift It sounds like there is an auto layout feedback loop in your implementation of the PulleyDrawerViewControllerDelegate as I am not able to replicate this issue on the sample app. You can use [this](https://www.hackingwithswift.com/articles/59/debugging-auto-layout-feedback-loops) article to debug the auto layout feedback loop.

[2021-05-25 20:14] otusweb opened #415 "[QUESTION] How to resize the content of the drawer as it is opened and closed"
**Describe the question**
I want to change the layout of the drawer as the drawer is pulled up. The changes mainly involve changing the height and/or position of some of the content.

Essentally when open the drawer should show
[code]

when collapse the drawer should show
[code]
And i'd like the resize to be animated as the user drags the drawer up and down.

Is that possible? I have not seen docu

[2021-05-27 08:26] otusweb commented on #415
To answer my own question, i was able to set a constraint from the bottom of the drawer view to the bottom of the window. This causes the drawer content to shrink as needed via autolayout and animates as needed

In the drawer controller add:
`view.bottomAnchor.constraint(equalTo: view.window!.bottomAnchor).isActive = true`

[2021-05-27 08:26] #415 closed

[2021-07-09 10:09] gerdjikov17 opened #416 "[BUG] There is a 20 pixel top inset for the PulleyPassThroughScrollView which doesn't accept user action"
**Describe the bug**
I noticed a bug that is also reproducable while testing on the Demo app of Pulley.
On the top of the drawer content view in panel mode there is a 20 pixel untappable space. If I inspect the view it's actually +20 pixels of height more than the one I return in the partialRevealDrawerHeight for example. This I think happens because of the bounceOverflowMargin variable that is ad

[2021-07-09 10:17] gerdjikov17 commented on #416
I found out that this change on line 1277 fixes the visual issue. I don't know if it'll break any other functionality
<img width="1512" alt="Screenshot 2021-07-09 at 13 16 17" src="https://user-images.githubusercontent.com/26312893/125063271-f0e35780-e0b7-11eb-9932-98a9d4b215e9.png">

Result:
<img width="1512" alt="Screenshot 2021-07-09 at 13 15 57" src="https://user-images.githubusercontent.com/2

[2021-07-09 17:49] ulmentflam commented on #416
@gerdjikov17 Your solution should work as `.pannel` and `.compact` modes don't require the bounce overflow margin. I would be happy to merge your PR if you would like to submit your change?

[2021-07-12 14:14] ulmentflam commented on #416
Thank you, @gerdjikov17! Your PR has been merged into the main branch!

[2021-07-12 14:14] #416 closed

[2021-08-16 20:56] rfaran opened #418 "Is there any way to apply corner radius to only one side?"
I actually wanted to customize the Pulley in such a way that the corner radius is only applied to one side.

maskedCorners doesn't seem to work for me.

Another approach is to have a custom view on top but then the background of primary view is not shown.

[2021-08-16 21:13] amyleecodes commented on #418
Configure a mask on your drawerContentViewController’s view.layer.mask property and Pulley will use that instead of its own corner rounding.

[2021-08-16 21:26] rfaran commented on #418
Thanks a lot.
Adding below code in `drawerPositionDidChange` worked.
[code]

[2021-08-16 21:26] #418 closed

[2021-10-10 12:14] RaphaelLesourd opened #419 "Open other controller within Drawer"
Hello, I implemented Pulley programmatically. It works as intended. Passing data via protocol.
The drawer display data in a tableView. I d like to open another controller to display other data or have other interaction.
But I dont want to open as a modal controller.
I want to have it inside the drawer so I still can move the drawer up and down to continue seeing the map I have in the main controll

[2021-10-20 11:28] keegho commented on #371
@amyleecodes Hello Amy. Im trying to add a navigation bar button In my primary content view controller but it is never visible. Of course when I tried to add it in the PullyViewController itself it appeared but its action of course its not working. How can I make this work
<img width="605" alt="Screen Shot 2021-10-20 at 1 27 51 PM" src="https://user-images.githubusercontent.com/16656424/138084505-

[2021-11-04 06:48] Farazahmed90 commented on #382
Did anyone get the answer on how to disable this blur effect?

[2021-11-05 00:13] pkamb commented on #149
Had the same question. Here is the grabber in the demo app, for anyone else who's looking for it:

Storyboard: UIView `36x5`

    @IBOutlet var gripperView: UIView!

and:

    gripperView.layer.cornerRadius = 2.5

[2021-11-24 15:58] peterwarbo opened #420 "[QUESTION] Update bounceOverflowMargin"
Is it possible to update bounceOverflowMargin somehow? Right now it's a let property.

My use case is that when I have only one supported position of the drawer; I don't want it to to bounce up and down when dragging it but if I change to allow more supported positions I would like to have the bounce behaviour.

[2021-11-26 11:31] peterwarbo commented on #420
[code]

[2021-11-26 11:31] #420 closed

[2021-12-14 13:14] BGLv opened #421 "Pulley drawer dimming view appears after UINavigationViewController push new viewController"
I created a small public project where we can clearly see that bug https://github.com/BGLv/PulleyDimmingViewBug

[code]

[2022-01-06 18:14] parvez-keeptruckin commented on #229
I am a new user to pulley library.
I have added pulley view controller as one of the top level view controller (V1) for a tab of a tab bar controller. What is happening is that when a view controller presented over V1 and dismissed then V1 is going slightly behind the tab bar and do not keep itself above tabBar. is there anything we need to do in case of tabBar controller using pulley ?

[2022-02-27 13:24] parvez-keeptruckin opened #422 "[QUESTION] How to control bounce of pulley when it is used in UITabBarController"
**Describe the question**
A subclass of `PulleyViewController` is being used as a top view controller for one of the tab of a UITabBarController. A subsequent screen as a result of a button tap on top view controller opens up with `PulleyPosition` as `.open`. This results in new screen appearing with a bounce going past the top edge of the device / simulator. What we can do to reduce the bouncing

[2022-10-25 07:11] michael-mansour opened #424 "Strange lines on mac catalyst 16"
**Describe the bug**
A clear and concise description of what the bug is.

On Mac catalyst 16, lines delimiting the view appear (see capture). Previously (on mac catalyst 15) it never appeared.

<img width="1016" alt="Screenshot 2022-10-25 at 08 24 31" src="https://user-images.githubusercontent.com/9451389/197698459-bdb2db30-9a15-4d5a-bf6a-84e98e1c9c95.png">

**Pulley (please complete the following

[2022-11-07 21:11] keegho opened #426 "Trying to instantiateViewController to open the pulley view controller"
When I try to instantiateViewController in another storyboard that is in a navigation controller the view cannot be presented and I get this error. What am I doing wrong here? Seems like there is something I'm missing here.

[code]

[2022-11-08 23:48] #426 closed